body{
    background: linear-gradient( rgb(41, 212, 41),rgb(14, 223, 63),lime);
   }
   
       body {
          position: relative;
          height: 100vh;
          align-items: center;
         }
         #form {
          position: absolute; /*this command makes the box smaller*/
          background-color: hsla(0, 0%, 10%, 0.1);
          border: 2px solid var(--white-color);
          margin-left: 46%;
          margin-top: 6.59%;
          padding: 2.5rem 2.5rem;
          border-radius: 0rem;
          backdrop-filter: blur(8px);
          /* align-content: center;
          justify-content: center; */
          
         }
         a{
           align-content: center;
           list-style: none;
           text-decoration: none;
           color: aliceblue;
           display: flex;
           float: inline-end;
         }
        button{
         margin-left: 32%;
         margin-right: 1px;
         background-color: black;
         color: white;
         border-radius: 40px;
         align-content: center;
         display: flex;
        }
        #img1{
          height: 20%;
          width: 10%;
          float:left;
           position: relative;
        }
        #img2{
          height: 410px;
          width: 30%;
          float:left;  
          margin-top:7.5%;
          margin-left:5.55%;
        }
        input{
          color: aliceblue;  
          border-top:transparent; 
          background: transparent;
          border-right: transparent;
          border-left: transparent;
          border-bottom: black solid,1px;
          border-color: black; 
          border-bottom-right-radius:0;
          border-bottom-left-radius: 0;
        }
        